$black: #333;
$white: #fff;
$darkPurple:  #342983;
$purple: #A398F2;
$lightPurple: #BEB5FF;
$purpler: #3F348E;
$red: #E62E3E;
$darkRed: #E6313F;
$lightRed:#FA415D;
$midRed: #E41636;
$grey: #F9F9F9;
$logos: #C7C7C7;

