.attention-popup {
  padding: 40px;
  max-width: 580px !important;
  height: 400px !important;
  box-sizing: border-box;

  @media (max-width: $mobile) {
    height: 100% !important;
    width: 100% !important;
    max-width: initial !important;
    padding: 20px;
  }

  &__title {
    font-family: "Mossport", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0 0 24px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 40px;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

}
