.judges {
  position: relative;
  z-index: 5;
  padding: 11rem 0 28rem;
  overflow: hidden;
  margin-top: -4rem;

  @media (max-width: $tablet) {
    padding: 8rem 0 26.3rem;
  }

  @media (max-width: $mobile) {
    background-color: $purpler;
    padding: 4.8rem 0 8rem;
  }

  .container {
    position: relative;
  }

  &__bottom-circle {
    position: absolute;
    z-index: 5;
    width: 286%;
    height: 400rem;
    bottom: 7.1rem;
    left: -92.5%;
    //transform: translateX(50%);
    max-width: initial;
    border-radius: 50%;
    background-color: $purpler;

    @media (max-width: $tablet) {
      width: 368%;
      height: 324rem;
      bottom: 9.1rem;
      left: -133.5%;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__decor-left {
    position: absolute;
    left: -25.6rem;
    top: -6.7rem;

    @media (max-width: $tablet) {
      width: 10.2rem;
      height: 10.2rem;
      left: -6.1rem;
      top: -1.7rem;

    }
  }

  &__decor-right {
    position: absolute;
    bottom: -27.5rem;
    right: -20rem;

    @media (max-width: $tablet) {
      bottom: -18.5rem;
      right: -23rem;
    }

    @media (max-width: $mobile) {
      bottom: -27.5rem;
      right: -20rem;
    }
  }

  &__title {
    color: $white;
    text-align: center;
    margin: 0 0 3.5rem;

    @media (max-width: $tablet) {
      margin: 0 0 2.7rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 2rem;
    }
  }

  &__item {
    display: flex;
    gap: 1.4rem;
    position: relative;

    @media (max-width: $mobile) {
      background-color: $white;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      padding: 20px;
    }


    &:not(:last-child) {
      margin: 0 0 2rem;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 20px;
    width: 24rem;
    height: 24rem;

    @media (max-width: $tablet) {
      width: 16rem;
      height: 16rem;
    }

    @media (max-width: $mobile) {
      width: 20rem;
      height: 20rem;
      margin: 0 0 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 5rem 3.5rem;
    height: 24rem;
    border-radius: 20px;
    background-color: #fff;
    flex-grow: 1;

    @media (max-width: $tablet) {
      padding: 2rem;
      height: 16rem;
    }

    @media (max-width: $mobile) {
      padding: 0;
      height: auto;
    }
  }

  &__spiral {
    position: absolute;
    right: 3rem;
    bottom: 3.6rem;

    @media (max-width: $tablet) {
      width: 2.4rem;
      height: 2.4rem;
      right: 2rem;
      bottom: 3rem;
    }

    @media (max-width: $mobile) {
      bottom: auto;
      top: 23rem;
      right: 2rem;
    }
  }

  &__name {
    font-size: 3rem;
    margin: 0 0 1.1rem;
    line-height: 1;

    @media (max-width: $tablet) {
      font-size: 2rem;
    }

    @media (max-width: $mobile) {
      font-size: 2rem;
      margin: 0 0 0.5rem;
    }
  }

  &__content-descr {
    font-size: 1.6rem;
    line-height: 1.4;
    max-width: 37.6rem;

    @media (max-width: $tablet) {
      font-size: 1.4rem
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  &__position {
    color: $darkRed;
    font-size: 1.6rem;

    @media (max-width: $tablet) {
      font-size: 1.4rem
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      margin: 0 0 2rem;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 6;
  }
}
