@import "../sass/utils/vars.scss";
@import "../sass/utils/mixins.scss";
@import "../sass/utils/colors.scss";
@import "../sass/utils/global.scss";
@import "../sass/utils/fonts.scss";
@import "../sass/utils/animation.scss";
@import "../sass/utils/swiper.scss";
@import "blocks/container.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/cookie-modal.scss";
@import "blocks/faq.scss";
@import "blocks/up.scss";
@import "blocks/hero.scss";
@import "blocks/about.scss";
@import "blocks/sports.scss";
@import "blocks/programm.scss";
@import "blocks/programm-block.scss";
@import "blocks/judges.scss";
@import "blocks/partners.scss";
@import "blocks/map.scss";
@import "blocks/attention-popup.scss";
@import "blocks/hero-detail.scss";
@import "blocks/detail-links.scss";
@import "blocks/footer.scss";

